{% extends '_base_vue.html' %}

{% block title %}Game Scores{% endblock %}
{% block main %}
  <h1 class="text-center">My Top Scores</h1>
  <table class="table m-auto w-75">
    <hr>
      <h2 class="text-center">Math Game</h2>
        <thead>
            <tr>
                <th scope="col" class="text-center">User</th>
                <th scope="col" class="text-center">Score</th>
                <th scope="col" class="text-center">Operation</th>
                <th scope="col" class="text-center">Max Number</th>
                <th scope="col" class="text-center">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in math_scores %}
                <tr>
                    <td class="text-center">{{ score.user_name }}</td>
                    <td class="text-center">{{ score.score }}</td>
                    <td class="text-center">{{ score.operation }}</td>
                    <td class="text-center">{{ score.max_number }}</td>
                    <td class="text-center">{{ score.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}