{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock %}
{% block main %}

{% if submitted %}
<p class="success">Your message was submitted successfully. Thank you.</p>

{% else %}
  <div class="card m-auto mb-3" id="contact-form" style="max-width: 30rem">
    <h1 class="card-header text-center">Contact us</h1>
    <div class="card-body">
      <form method="post" class="m-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="form-control btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endif %}

{% endblock %}